.app {
  background-color: rgba(0, 132, 255, 0.664);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btn{
  background-color:brown ;
  color: pink;
 }